body, html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arial';
  font-weight: normal;
  color: #000000;
  font-size: 18px;
  line-height: 125%;
  height: 100%;
}