.cart-good__image
  = image_tag cart_good.rest.good.good_images.first.image.url
.cart-good__info
  h3.cart-good__title
    = cart_good.rest.good.title
  .cart-good__config
    = cart_good.rest.collect_config
  .cart-good__cost
    = "#{cart_good.rest.cost} Р"
  .cart-good__delete-form
    = form_with url: toggle_good_path, method: :post, class: 'toggleGood', id: "toggleGood-#{cart_good.id}", local: true do |f|
      = f.hidden_field :rest, value: cart_good.rest.id
      = f.submit 'Удалить', class: 'btn js-good-toggle'