ul.comments-list
  - @comments.each do |comment|
    li.comment
      .comment-info
        span.comment-info__author
          = comment.client.email
        span.comment-info__date
          = comment.created_at
      .comment-text
        = comment.text
