.catalog__good-title
  = link_to good_path(good.slug)
    h3.h3-title = good.title
.catalog__good-image
  = link_to good_path(good.slug)
    = image_tag good.good_images.first.image.url, class: "good-image"
.catalog__good-description
  = good.description
hr
.catalog__good-info
  span = "#{good.cost}Р"
  span = "В наличии: #{good.rests.pluck(:rest).sum}"