.cart-good__image
  = link_to news_card_path(news.id)
    = image_tag news.image.url
.cart-good__info
  h3.cart-good__title
    = link_to news_card_path(news.id)
      = news.title
  .cart-good__config
    = news.text