.wrapper
  ul.cart__cart-goods
    - @cart_goods.each do |cart_good|
      li.cart__cart-good
        = render "shared/cart_catalog_card", cart_good: cart_good
  .cart-price
    span.cart__cart-price = @price
    span = "Р"
  .order-form
    = form_with url: create_order_path, method: :post, id: 'createOrder', local: true do |f|
      = f.submit "Создать заказ", class: 'btn'