.wrapper
  .good-card
    .good-card__images
      .good-card__main_image
        = image_tag @images.first.image.url
    .good-card__info
      h3.good-card__title
        = @good.title
      .good-card__description
        = @good.description
      .good-card__cost
        span.good-card__cost-value = @good.in_stock? ? @good.rests.first.cost : @good.cost
        span = "Р"
      - if @good.in_stock?
        .good-card__buy-form
          = form_with url: toggle_good_path, method: :post, class: 'toggleGood', id: 'toggleGood', local: true do |f|
            - if GoodParameterVariant.joins(:rests).where(rests: { id: @good.rests.pluck(:id) }).any?
              = f.select :rest, @good.collect_rests, selected: @good.rests.first.id
            - else
              = f.hidden_field :rest, value: @good.rests.first.id
            = f.submit "#{rest_in_cart?(@good.rests.first.id) ? 'Удалить' : 'В корзину'}", class: 'btn js-good-toggle'
      - else
        = "Нет в наличии"
      section.comments
        h3.h3-title = "Оставьте комментарий о товаре"
        - if client_signed_in?
          = form_with url: create_comment_path, method: :post, id: 'createComment', local: true do |f|
            .form-input
              = f.label :rating, "Рейтинг", class: "form-label"
              = f.number_field :rating, min: 1, max: 5, value: 1, required: true
            .form-input
              = f.label :text, "Комментарий", class: "form-label"
              = f.text_area :text, required: true
            = f.hidden_field :good_id, value: @good.id
            = f.submit 'Отправить', class: "btn"
          .success-hint
          .error-hint
        - else
          = "Для создания комментария "
          = link_to 'войдите', new_client_session_path, class: "active"
          = " или "
          = link_to 'зарегистрируйтесь', new_client_registration_path, class: "active"
      = render "shared/good_comments", comments: @comments