= "Был сделан заказ на сайте!"
br
= "Заказ №#{@order.id}"
br
= "Пользователь: #{@order.client.email}"
br
= "Сумма заказа: #{@order.price}"
br
ul = "Товары:"
br
- @order.order_goods.each do |order_good|
  li = order_good.rest.good.title