.good-card {
  display: flex;
}

.good-card__images {
  width: 50%;
  margin-right: 40px;
}

.good-card__main_image img {
  width: 100%;
}

.good-card__description {
  width: 80%;
  margin-bottom: 30px;
}

.good-card__cost-value {
  margin-right: 5px;
}

.good-card__cost {
  margin-bottom: 40px;
  font-weight: 700;
}

li.comment {
  list-style: none;
}

.comment-info__author {
  margin-right: 10px;
}

.comment {
  padding-top: 10px;
  border-top: 1px solid black;
  margin-bottom: 20px;
}

.comments-list {
  width: 50%;
  padding: 0;
}

.comment-info {
  font-size: 16px;
}

.good-card__buy-form {
  margin-bottom: 30px;
}