.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.header-wrapper {
  margin-bottom: 70px;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.category-item {
  list-style: none;
  margin: 0;

  a {
    text-decoration: none;
    color: #000000;
  }
}

.logo-image {
  width: 130px;
  height: 130px;
}

.authentification {
  a {
    text-decoration: none;
    color: #000000;
  }
}

.active a{
  color: orange;
}