.h2-header {
  text-align: center;
  margin: 0 0 80px 0;
  color: #000000;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  li {
    list-style: none;
  }
}

.good-item {
  width: 23%;
  margin-right: 30px;
  margin-bottom: 65px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  a {
    text-decoration: none;
  }
  &:hover {
    .h3-title {
      color: orange;
    }
  }
}

.h3-title {
  margin: 0 0 20px 0;
  color: #000000;
}

.catalog__good-image {
  width: 100%;
  height: 300px;
  img {
    width: 100%;
    max-height: 300px;
  }
}

.catalog__good-title {
  height: 55px;
  margin-bottom: 20px;
  overflow: hidden;
}

.catalog__good-image {
  margin-bottom: 20px;
}

.catalog__good-info {
  display: flex;
  justify-content: space-between;
}