.wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

a:hover {
  color: orange;
}

.btn {
  display: block;
  padding: 10px;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font: inherit;
}

select {
  margin-bottom: 30px;
}

.success-hint {
  color: green;
}

.error-hint {
  color: red;
}

.hidden {
  display: none;
}

.form-label {
  display: block;
}

.form-input {
  margin-bottom: 20px;

  textarea {
    width: 500px;
    height: 100px;
  }
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: orange;
  }

  &.active {
    color: orange;
  }
}



