.wrapper.header-wrapper
  section.header
    = link_to root_path
      = image_tag 'logo.jpg', class: "logo-image"
    ul.categories
    - Category.all.each do |category|
      li.category-item class="#{@category == category ? 'active' : ''}"
        = link_to category.title, category_path(category.slug)
    li.category-item.active
      = link_to "Новости", news_path
    .authentification
      .cart
        = link_to 'Корзина', cart_path
      - if client_signed_in?
        = link_to 'Выйти', destroy_client_session_path, :method => :delete
      - else
        = link_to 'Войти', new_client_session_path
        = "/"
        = link_to 'Зарегистрироваться', new_client_registration_path